<extend name="Layout/ins_page" />
<block name="content">
	{:W('PageHeader/simple',array('name'=>'产品消耗的原材料','search'=>'N'))}
	<form method='post' id="form_data" name="form_data" enctype="multipart/form-data"   class="well form-horizontal" style="overflow: auto;">
		<input type="hidden" id="ajax" name="ajax" value="0">
		<input type="hidden" id="opmode" name="opmode" value="add">
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>序号</th>
						<th>选择原材料</th>
						<th>批号</th>
						<th>单位</th>
						<th>单价</th>
						<th>剩余数量</th>
						<th>消耗数量</th>
						<th>操作<i class="fa fa-plus" title="新增" onclick="add()"></i></th>
					</tr>
					</thead>
					<tbody id="tbody">
					<foreach name="list" item="vo" key="key" >
						<tr id="{$key+1}">
							<input type="hidden" id="id" name="id" value="{$vo.id}"/>
							<td id="num">{$key+1}</td>
							<td>
								<div class="input-group ">
									<input class="form-control" style="width: 150px;" name="material_name"  id="material_name" type="text" msg="请选择供应商" check="require" readonly="readonly" value="{$vo.material_id|get_material_name}"/>
									<input name="material_id" id="material_id" type="hidden" msg="请选择供应商" check="require"  value="{$vo.material_id}"/>
									<div class="input-group-btn">
										<a class="btn btn-sm btn-primary" onclick="select_supplier($(this));" > <i class="fa fa-search" ></i> </a>
									</div>
								</div>
							</td>
							<td><input id="model" name="model"  value="{$vo.model}"/></td>
							<td><input id="unit" name="unit"  value="{$vo.unit}"/></td>
							<td><input id="unit_price" name="unit_price"  value="{$vo.unit_price}"/></td>
							<td><input id="remain_amount" name="remain_amount"  value="{$vo.remain_amount}"/></td>
							<td><input id="cost_amount" name="cost_amount" last="{$vo.cost_amount}" value="{$vo.cost_amount}"/></td>
							<td>
								<div style="width: 60px;">
									<i class="fa fa-save" title="保存"  onclick="save_material($(this))"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-plus" title="新增" onclick="add()"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-minus" title="删除" onclick="del($(this))"></i>
								</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
		</div>

		<!--<div class="form-group">
			<label class="col-sm-2 control-label" for="name">附件：</label>
			<div class="col-sm-10">
				{:W('FileUpload/add')}
			</div>
		</div>-->
		<div class="form-group">
			<div class="action col-sm-8 col-sm-offset-2">
				<!--<input class="btn btn-sm btn-primary" type="button" value="保存" onclick="save();">-->
				<input class="btn btn-sm btn-default" type="button" value="返回" onclick="go_return_url();">
			</div>
		</div>
		<div id="demo" style="display: none;">
			<table>
				<tbody>
					<tr id="1">
						<input type="hidden" id="id" name="id" />
						<td id="num">1</td>
						<td>
							<div class="input-group ">
								<input class="form-control" style="width: 150px;" name="material_name"  id="material_name" type="text" msg="请选择供应商" check="require" readonly="readonly" />
								<input name="material_id" id="material_id" type="hidden" msg="请选择供应商" check="require"  />
								<div class="input-group-btn">
									<a class="btn btn-sm btn-primary" onclick="select_supplier($(this));" > <i class="fa fa-search" ></i> </a>
								</div>
							</div>
						</td>
						<td><input id="model" name="model"  /></td>
						<td><input id="unit" name="unit"  /></td>
						<td><input id="unit_price" name="unit_price"  /></td>
						<td><input id="remain_amount" name="remain_amount"  /></td>
						<td><input id="cost_amount" name="cost_amount" /></td>
						<td>
							<div style="width: 60px;">
								<i class="fa fa-save" title="保存"  onclick="save_material($(this))"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-plus" title="新增" onclick="add()"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-minus" title="删除" onclick="del($(this))"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</block>
<block name="js">
	<script>
		function save_material(obj) {
		    var product_id = "{$id}";
            var id = obj.parent().parent().parent().find("#id").val();
            // var name = obj.parent().parent().find("#name").val();
            var material_id = obj.parent().parent().parent().find("#material_id").val();

            var cost_amount = obj.parent().parent().parent().find("#cost_amount").val();
            var last_cost = obj.parent().parent().parent().find("#cost_amount").attr('last');
            var remain_amount = obj.parent().parent().parent().find("#remain_amount").val();

            if(id){
                //修改
                if(cost_amount-last_cost>remain_amount){
                    alert('数量超过剩余数量');
                    return;
				}
			}else{
                //新增
                if(cost_amount>remain_amount){
                    alert('数量超过剩余数量');
                    return;
                }
			}
			sendAjax("{:U('save_material')}","id="+id+"&product_id="+product_id+"&material_id="+material_id+"&cost_amount="+cost_amount,function(data){
				if(data.status == 0){
					alert(data.msg);
				}else if(data.status == 1){
					alert('保存成功');
					obj.parent().parent().parent().find("#id").val(data.id);
				}else if(data.status == 11){
					alert('保存成功');
				}
			});
        }
        function select_supplier(obj) {
		    var id = obj.parent().parent().parent().parent().attr('id');
            winopen("{:U('stockIn/winpop')}?id=" + id, 560, 470);
        }
		var num = {:count($list)};
		function add(){
            num++;
			var html = $("#demo #1").html();
			$("#tbody").append("<tr id='"+num+"'>"+html+"</tr>");
            $("#tbody #"+num+" #num").html(num);
            $("#tbody #"+num+" #id").val('');
            $("#tbody #"+num+" #id").removeAttr('value');
            $("#tbody #"+num+" #name").val('');
            $("#tbody #"+num+" #name").removeAttr('value');
            $("#tbody #"+num+" #model").val('');
            $("#tbody #"+num+" #model").removeAttr('value');
            $("#tbody #"+num+" #unit").val('');
            $("#tbody #"+num+" #unit").removeAttr('value');
            $("#tbody #"+num+" #amount").val('');
            $("#tbody #"+num+" #amount").removeAttr('value');
            $("#tbody #"+num+" #unit_price").val('');
            $("#tbody #"+num+" #unit_price").removeAttr('value');
            $("#tbody #"+num+" #supplier_id").val('');
            $("#tbody #"+num+" #supplier_id").removeAttr('value');
            $("#tbody #"+num+" #supplier_name").val('');
            $("#tbody #"+num+" #supplier_name").removeAttr('value');
		}

		function del(obj){
            var true_id = obj.parent().parent().parent().find("#id").val();
            sendAjax("{:U('del_material')}","id="+true_id,function(data){
                if(data.status == 0){
                    alert(data.msg);
                }else if(data.status == 1){
                    var id = obj.parent().parent().parent().attr('id');
                    obj.parent().parent().parent().remove();
                    num--;
                    var temp_id;
                    $("#tbody tr").each(function(){
                        if($(this).attr('id')>id){
                            temp_id = $(this).attr('id');
                            $(this).attr('id',temp_id-1);
                            $(this).children("td:first").html(temp_id-1);
                        }
                    })
                }
            });
		}
	</script>
</block>