<extend name="Layout/ins_popup" />
<block name="content">
	<input type="hidden" name="val" id="val">
	<input type="hidden" name="name" id="name">
	<input type="hidden" name="unit" id="unit">
	<input type="hidden" name="model" id="model">
	<input type="hidden" name="production_date" id="production_date">
	<input type="hidden" name="remain_amount" id="remain_amount">
	<div class="popup-header clearfix">
		<div class="pull-left">
			<h1>选择产品</h1>
		</div>
		<div class="pull-right">
			<input id="id" type="hidden" value="{$id}"/>
			<a onclick="save();" class="btn btn-sm btn-primary">确定</a>
			<a onclick="myclose();" class="btn btn-sm btn-default">关闭</a>
		</div>
	</div>
	<div class="popup-body" style="height: 420px;overflow-y: auto;">
		<div class="popup_tree_menu">
			<ul class="tree_menu">
				<li>
					{$menu}
				</li>
			</ul>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript">
		function save() {
		    var id = $("#id").val();
			if ($("#name").val().length > 0) {
				$("#"+id+" #product_name", parent.document).val($("#name").val());
				$("#"+id+" #product_id", parent.document).val($("#val").val());
                $("#"+id+" #unit", parent.document).val($("#unit").val());
                $("#"+id+" #model", parent.document).val($("#model").val());
                $("#"+id+" #production_date", parent.document).val($("#production_date").val());
                $("#"+id+" #remain_amount", parent.document).val($("#remain_amount").val());
			} else {
				ui_error("请选择产品");
				return false;
			}
			myclose();
		}


		$(document).ready(function() {
			$(".popup_tree_menu a").click(function() {
				$("#val").val($(this).attr("node"));
				// $("#name").val($(this).children("span").text());
                $("#name").val($(this).attr("name"));
                $("#unit").val($(this).attr("unit"));
                $("#model").val($(this).attr("model"));
                $("#production_date").val($(this).attr("production_date"));
                $("#remain_amount").val($(this).attr("remain_amount"));
				$(".popup_tree_menu .tree_menu  a.active").removeClass("active");
				$(this).addClass("active");
			});
		});
	</script>
</block>
