<extend name="Layout/ins_page" />
<block name="content">
	{:W('PageHeader/simple',array('name'=>'修改销售产品','search'=>'N'))}
	<form method='post' id="form_data" name="form_data" enctype="multipart/form-data"   class="well form-horizontal" style="overflow: auto;">
		<input type="hidden" id="ajax" name="ajax" value="0">
		<input type="hidden" id="opmode" name="opmode" value="add">
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>序号</th>
						<th>批号</th>
						<th>单位</th>
						<th>数量</th>
						<th>生产日期</th>
						<th>产品</th>
						<th onclick="add()">新增<i class="fa fa-plus" title="新增"></i></th>
					</tr>
					</thead>
					<tbody id="tbody">
					<foreach name="list" item="vo" key="key" >
						<tr id="{$key+1}">
							<input type="hidden" id="id" name="id" value="{$vo.id}"/>
							<td id="num">{$key+1}</td>
							<td><input id="model" name="model"  value="{$vo.model}" disabled/></td>
							<td><input id="unit" name="unit"  value="{$vo.unit}" disabled/></td>
							<td><input id="amount" name="amount"  value="{$vo.amount}" type="number" min="0"/></td>
							<td><input id="production_date" name="production_date"  value="{$vo.production_date}" disabled/></td>
							<td>
								<div class="input-group ">
									<input class="form-control" style="width: 150px;" name="product_name"  id="product_name" type="text" msg="请选择产品" check="require" readonly="readonly" value="{$vo.product_id|get_product_name}"/>
									<input name="product_id" id="product_id" type="hidden" msg="请选择产品" check="require"  value="{$vo.product_id}"/>
									<div class="input-group-btn">
										<a class="btn btn-sm btn-primary" onclick="select_product($(this));" > <i class="fa fa-search" ></i> </a>
									</div>
								</div>
							</td>
							<td>
								<div style="width: 60px;">
									<i class="fa fa-save" title="保存"  onclick="save_stock_out_product($(this))"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-plus" title="新增" onclick="add()"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-minus" title="删除" onclick="del($(this))"></i>
								</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
		</div>

		<!--<div class="form-group">
			<label class="col-sm-2 control-label" for="name">附件：</label>
			<div class="col-sm-10">
				{:W('FileUpload/add')}
			</div>
		</div>-->
		<div class="form-group">
			<div class="action col-sm-8 col-sm-offset-2">
				<!--<input class="btn btn-sm btn-primary" type="button" value="保存" onclick="save();">-->
				<input class="btn btn-sm btn-default" type="button" value="取消" onclick="go_return_url();">
			</div>
		</div>
		<div id="demo" style="display: none;">
			<table>
				<tbody>
					<tr id="1">
						<input type="hidden" id="id" name="id" />
						<td id="num">1</td>
						<td><input id="model" name="model" disabled /></td>
						<td><input id="unit" name="unit"  disabled/></td>
						<td><input id="amount" name="amount" type="number" min="0" /></td>
						<td><input id="production_date" name="production_date" disabled /></td>
						<td>
							<div class="input-group ">
								<input class="form-control" style="width: 150px;" name="product_name"  id="product_name" type="text" msg="请选择产品" check="require" readonly="readonly"/>
								<input name="product_id" id="product_id" type="hidden" msg="请选择产品" check="require"  />
								<div class="input-group-btn">
									<a class="btn btn-sm btn-primary" onclick="select_product($(this));" > <i class="fa fa-search" ></i> </a>
								</div>
							</div>
						</td>
						<td>
							<div style="width: 60px;">
								<i class="fa fa-save" title="保存"  onclick="save_stock_out_product($(this))"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-plus" title="新增" onclick="add()"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-minus" title="删除" onclick="del($(this))"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</block>
<block name="js">
	<script>
		function save_stock_out_product(obj) {
		    var stock_out_id = "{$id}";
            var id = obj.parent().parent().parent().find("#id").val();
            var amount = obj.parent().parent().parent().find("#amount").val();
            if(amount<=0){
                alert('请输入大于0的数量');
                return;
			}
            var product_id = obj.parent().parent().parent().find("#product_id").val();
            sendAjax("{:U('save_product')}","id="+id+"&stock_out_id="+stock_out_id+"&amount="+amount+"&product_id="+product_id,function(data){
                if(data.status == 0){
                    alert(data.msg);
				}else if(data.status == 1){
                    alert('保存成功');
                    obj.parent().parent().parent().find("#id").val(data.id);
				}else if(data.status == 11){
                    alert('保存成功');
				}
			});
        }
        function select_product(obj) {
		    var id = obj.parent().parent().parent().parent().attr('id');
            winopen("{:U('product/winpop')}?id=" + id, 560, 470);
        }
		var num = {:count($list)};
		function add(){
            num++;
			var html = $("#demo #1").html();
			$("#tbody").append("<tr id='"+num+"'>"+html+"</tr>");
            $("#tbody #"+num+" #num").html(num);
            $("#tbody #"+num+" #id").val('');
            $("#tbody #"+num+" #id").removeAttr('value');
            $("#tbody #"+num+" #model").val('');
            $("#tbody #"+num+" #model").removeAttr('value');
            $("#tbody #"+num+" #unit").val('');
            $("#tbody #"+num+" #unit").removeAttr('value');
            $("#tbody #"+num+" #amount").val('');
            $("#tbody #"+num+" #amount").removeAttr('value');
            $("#tbody #"+num+" #production_date").val('');
            $("#tbody #"+num+" #production_date").removeAttr('value');
            $("#tbody #"+num+" #product_id").val('');
            $("#tbody #"+num+" #product_id").removeAttr('value');
            $("#tbody #"+num+" #product_name").val('');
            $("#tbody #"+num+" #product_name").removeAttr('value');
		}

		function del(obj){
            var true_id = obj.parent().parent().parent().find("#id").val();
            sendAjax("{:U('del_product')}","id="+true_id,function(data){
                if(data.status == 0){
                    alert(data.msg);
                }else if(data.status == 1){
                    var id = obj.parent().parent().parent().attr('id');
                    obj.parent().parent().parent().remove();
                    num--;
                    var temp_id;
                    $("#tbody tr").each(function(){
                        if($(this).attr('id')>id){
                            temp_id = $(this).attr('id');
                            $(this).attr('id',temp_id-1);
                            $(this).children("td:first").html(temp_id-1);
                        }
                    })
                }
            });
		}
	</script>
</block>